<div class="course-card" [ngClass]="cardClasses" [ngStyle]="{'border-left-color': course.gradeStatus === 'passed' ? 'green' : course.gradeStatus === 'failed' ? 'red' : 'gray'}">

    <h3>{{ course.name }}</h3>

    <p><strong>Code:</strong> {{ course.code }}</p>

    <p><strong>Credits:</strong>{{ course.credits | creditLabel }}</p>

    @switch (course.gradeStatus) {

    @case ('passed') {
    <span style="color:green;">Passed</span>
    }

    @case ('failed') {
    <span style="color:red;">Failed</span>
    }

    @case ('pending') {
    <span style="color:gray;">Pending</span>
    }

    }

    <button disabled (click)="enrollRequested.emit(course.id)">
        Enroll
    </button>
    <button (click)="isExpanded = !isExpanded">
        Show Details
    </button>

</div>